NODE_ENV=local
PORT=3000

DB_HOST=db
DB_PORT=27017
DB_USERNAME=root
DB_PASSWORD=secret
DB_DATABASE=forbus

JWT_SECRET_KEY=your_jwt_secret_here
JWT_TTL=3600
JWT_REFRESH_SECRET_KEY=your_refresh_secret_here
JWT_REFRESH_TTL=604800
